/* src/styles/print.css */
@media print {
  /* On cache tout sauf la liste de courses */
  aside,
  header,
  button {
    display: none !important;
  }

  main {
    padding: 0 !important;
    margin: 0 !important;
  }

  .grid {
    display: block !important; /* On repasse en flux vertical pour le papier */
  }

  .bg-white {
    border: none !important;
    box-shadow: none !important;
  }

  h2 {
    border-bottom: 2px solid #f97316;
    margin-top: 20px;
  }
}
